<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="madar_validate_deliverability" type="Madar\StockAvailability\Plugin\Quote\ValidateDeliverability" sortOrder="10" />
    </type>

    <!-- Plugin for Product Collection 
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="madar_stock_availability_product_collection" type="Madar\StockAvailability\Plugin\ProductCollectionPlugin" />
    </type>
     Plugin for Product
    <type name="Magento\Catalog\Model\Product">
        <plugin name="madar_stockavailability_product_plugin" type="Madar\StockAvailability\Plugin\ProductPlugin" />
    </type>
-->
    <!-- Custom Grouped Product Type -->
    <preference for="Magento\GroupedProduct\Model\Product\Type\Grouped" type="Madar\StockAvailability\Model\Product\Type\Grouped" />

    <!-- Plugin for Configurable Swatch Renderer -->
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="madar_configurable_swatch_renderer_plugin" type="Madar\StockAvailability\Plugin\ConfigurableProduct\Block\Product\View\Type\ConfigurableSwatchRendererPlugin"/>
    </type>

    <!-- Plugin for Sources  -->

    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="madar_source_repository_plugin" type="Madar\StockAvailability\Plugin\SourceRepositoryPlugin" />
    </type>

    <!-- Plugin for saving delivery data to orders -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="madar_save_delivery_data_to_order" type="Madar\StockAvailability\Plugin\Sales\OrderRepositoryPlugin" sortOrder="10" />
    </type>

    <!-- Console command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="madar_migrate_delivery_data" xsi:type="object">Madar\StockAvailability\Console\Command\MigrateDeliveryData</item>
                <item name="madar_run_deliverability_cron" xsi:type="object">Madar\StockAvailability\Console\Command\RunDeliverabilityCron</item>
            </argument>
        </arguments>
    </type>

</config>